.c-wrapper {
  display: flex;
  margin: 24px;
}
.c-column {
  width: 100%;
  max-width: 500px;
}
.c-column:not(:first-child) {
  margin: 0 0 0 24px;
}
.c-table {
  border-collapse: collapse;
  border: 1px solid #efefef;
  margin-bottom: 24px;
}
.c-table td,
.c-table th {
  border: 1px solid #efefef;
  padding: 5px 7px;
  text-align: left;
}

.c-table td {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-pagination li {
  padding: 0 12px 0 0;
}
.c-pagination li:last-child {
  padding: 0;
}
.c-pagination li a {
  cursor: pointer;
}
.c-pagination li.selected {
  font-weight: 700;
}
.c-pagination .previous.disabled,
.c-pagination .next.disabled {
  display: none;
}
.c-subtitle {
  margin: 0 0 18px;
}
.c-details {
  margin: 24px 0 0;
}
